{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on NZ{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account on NZ{% endblocktrans %}</p>

<p>{% trans "Enter your code for reset password:" %}</p>
<p>Code : {{ uid }}</p>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>
<p>{% trans "Thanks for using our app!" %}</p>

{% endblock html_body %}
